.ranking-penalty {
    color: #e74c3c;
    font-weight: bold;
}

#battle-info{
    flex: 0 1 auto;
    margin-top:15px;
    align-self:center;
    display:flex;
    flex-direction:column;
}

#battle-info p{
    align-self:center;
    text-align:center;
    color:black;
}

.battle-info-white {
    background-color: #fff9ea;
    width:400px;
    height:100px;
    max-height:350px;
}

#battle-info #opponent-name {
    background-color: #e2b740;
    border-radius:10px;
    padding: 5px;
}

.battle-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#battle-info #battle-btn{
    flex: 0 1 auto;
    color: #ffb94f;
    background: #a06041;
    border: 3px solid #534a40;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-size:10px;
    transition: all 0.3s ease;
    font-family: 'Press Start 2P', monospace;
    text-shadow: 2px 2px 4px rgba(5, 5, 1, 1);
    padding: 10px 15px;
    box-shadow: inset 4px 3px 5px #ffbf5e, 2px 2px 0 #000, /* extra �pixel� edges */
    4px 4px 0 #000;
}

#battle-info #battle-btn:hover:not(.active) {
    background: white;
        box-shadow: inset 4px 3px 5px gray, 2px 2px 0 #000, /* extra �pixel� edges */
        4px 4px 0 #000;

}

#battle-info #fight-btn {
    flex: 0 1 auto;
    color: #ffb94f;
    background: #a06041;
    border: 3px solid #534a40;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
    transition: all 0.3s ease;
    font-family: 'Press Start 2P', monospace;
    text-shadow: 2px 2px 4px rgba(5, 5, 1, 1);
    padding: 10px 15px;
    box-shadow: inset 4px 3px 5px #ffbf5e, 2px 2px 0 #000, /* extra �pixel� edges */
    4px 4px 0 #000;
}

#battle-info #fight-btn:hover:not(.active) {
    background: white;
        box-shadow: inset 4px 3px 5px gray, 2px 2px 0 #000, /* extra �pixel� edges */
        4px 4px 0 #000;

}


#battle-hp {
    flex: 0;
    width: 375px;
    padding: 12px;
    border-bottom: 4px solid #e2b740;
}


.battle-panel h3 {
    font-family: 'Press Start 2P', monospace;
    text-shadow: 2px 2px 3px rgba(10, 10, 1, 5);
    color: #ffb94f;
    font-size:30px;
    margin-bottom:10px;
    flex: 0;
    width: 450px;
    align-self: center;
    text-align: center;
    margin-top:25px;
}

.key-count {
    flex: 0;
    align-self: center;
    text-align: center;
    font-size: 18px;
    margin: 5px 0;
    padding: 20px;
    background-color: rgba(160, 96, 65, 0.9);
    width: fit-content;

    box-shadow: 5px 5px 10px rgba(160, 96, 65, 0.7);
}

.key-count #active-keys-count {
        background-color: rgba(200, 140, 110, 0.9);
        padding: 7px;
        margin: 3px;
        border-radius: 5px;
    }


.hp-bar {
    margin: 10px 0;
}


.hp-bar .lines{
   background: repeating-linear-gradient(
  90deg,                /* vertical lines (horizontal sweep) */
  transparent,          /* start transparent */
  transparent 15px,      /* transparent area before line */
  black 20px,            /* start of black line */
  black 7px            /* black line thickness: 5px */
);
   border:3px solid black;
   width:365px;
   height:20px;
   position:absolute;
   top:-3px;
   left:0px;
}

.hp-bar .progress-bar{
    position:relative; 
    background: linear-gradient(
    to right,         /* direction */
    black,             /* start color */
    #333               /* end color */
  );
}

.hp-bar .progress-bar,.progress-fill{
    border-radius:0!important;
    overflow:unset;
}

.hp-bar .progress-fill{
    background: linear-gradient(to right, darkred, red);
    border-radius:0!important;
    z-index:0;
}

.hp-bar #player-hp-text{
    text-align:left;
    color:black;
}
.hp-bar #opponent-hp-text{
    color:black;
}

.hp-bar label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color:black;
    text-align:left;
}

.ranking-reward {
    color:#27ae60 !important;
    font-weight: bold;
}

.ranking-penalty {
    color: red !important;
    font-weight: bold;
}

.opponent-info p {
    margin: 5px 0;
}
#battle-result{
    margin-top:15px;
    margin-bottom:5px;;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.battle-attack {
    display: inline-block;
    animation: pop 1s ease infinite;
}


#battle-result .defeat strong{
    font-family: 'Press Start 2P', monospace;
    text-shadow: 2px 2px 3px rgba(10, 10, 1, 5);
    color:red;
    font-size:25px;
    margin-bottom:0;
}

#battle-result .victory strong {
    font-family: 'Press Start 2P', monospace;
    text-shadow: 2px 2px 3px rgba(10, 10, 1, 5);
    color: #27ae60;
    font-size: 25px;
    margin-bottom: 0;
}
.ranking-penalty{
    color:red;
}

.opponent-name {
    background-color: #fff9ea;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    width: auto;
    align-self: center;
    border: 4px solid #e2b740;

}
.opponent-info {
    align-self:center;
    text-align: center;
    background: #34495e;
    padding: 15px;
    padding-top:25px;
    padding-bottom:25px;
    width:330px;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #e2b740;
    flex:0;
    margin-top:40px;
    margin-bottom:40px;
    box-shadow: 5px 5px 10px rgba(160, 96, 65, 0.7);
}
.battle-choice-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

.battle-choice-buttons button {
    flex: 1;
    max-width: 200px;
}


.just-this-container {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:400px;
    gap: 0;
    margin: 0;
    padding:7px;
    border-bottom: 4px solid #e2b740;
}

.just-this-container p {
    color:#a06041;
    flex:0;
}

